/* GENERAL */
:root {
    --accent-color: #717171;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #F3F3F3;
    --gray-color-300: #D8D8D8;
    --gray-color-500: #AEAEAE;
    --gray-color-800: #3A3A3A;
    --light-gray-color: #D7DDDF;
    --primary-color: #72AEC8;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --light-blue-color: #EDF1F3;
    --navbar-color-color: #131814;
    --swiper-theme-color: #4A4A4A;
    --swiper-pagination-color: #4A4A4A;

    --body-font: "Lato", sans-serif;
    --heading-font: "Jost", sans-serif;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

main {
    padding-top: 30px;
}

p {
    font-size: 1.2em;
    color: var(--gray-color-500);
}

ul.inner-list li {
    font-size: 1.2em;
}

a {
    color: var(--dark-color);
    text-decoration: none;
    transition: 0.3s color ease-out;
}

a.light {
    color: var(--light-color);
}

a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.profile-img,
.test-img {
    max-width: 200px;
}


/* NAVI */

.avatar {
    display: block;
    overflow: hidden;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
}

.avatar img {
    max-width: 100%;
}

header form {
    max-width: 500px;
}