{% extends 'base.html' %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
  <h3>Your Profile Information</h3>
  <div>
    <h3>{{ user.username }}</h3>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    {% if user.userprofile.profile_picture %}
      <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="profile-img" />
    {% else %}
      <p>No profile picture uploaded</p>
    {% endif %}
  </div>
  <h3>My products</h3>
  <ul>
    {% for product in created_products %}
      <li>
        <h4><a href="{% url 'product:product-detail' product.id %}">{{ product.name }}</a></h4>
      </li>
    {% empty %}
      <li>No products created yet.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'profile-edit' %}">edit</a>
{% endblock %}
