{% extends 'base.html' %}

{% block title %}
  Profile settings
{% endblock %}

{% block content %}
<main class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="p-3 border bg-light">
        <h3 class="mb-4 text-center">Your Profile Information</h3>
        <div class="text-center mb-3">
          {% if user.userprofile.profile_picture %}
            <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle" style="max-width: 150px;">
          {% else %}
            <p class="text-muted">No profile picture uploaded</p>
          {% endif %}
        </div>
        <h4 class="mb-3">{{ user.username }}</h4>
        <p class="mb-2">First Name: {{ user.first_name }}</p>
        <p class="mb-2">Last Name: {{ user.last_name }}</p>
        <p class="mb-3">Email: {{ user.email }}</p>
        <a href="{% url 'profile-edit' %}" class="btn btn-primary">Edit Profile</a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="p-3 border bg-light">
        <h3 class="mb-4 text-center">My Products</h3>
        <ul class="list-group">
          {% for product in created_products %}
            <li class="list-group-item">
              <h5><a href="{% url 'product:product-detail' product.id %}" class="text-decoration-none">{{ product.name }}</a></h5>
            </li>
          {% empty %}
            <li class="list-group-item text-center text-muted">No products created yet.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}
