{% load static %}
{% load report_tags %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/page.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <title>{% block title %}Webshop{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
  
</head>
<body>
  <div class="wrapper">
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo.png'%}" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  {% if user.is_authenticated %}
                    {% if user.is_staff %}
                      <li class="nav-item">
                        <a class="nav-link position-relative" href="{% url 'customerservice:dashboard' %}">Service {% unresolved_reports_count %} </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'product:product-create' %}">Add product</a>
                    </li>
                    {% endif %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'product:product-list' %}">All products</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Settings</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                          <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                  {% else %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'product:product-list' %}">All products</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i> Login
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'register' %}">
                            <i class="fas fa-user-plus"></i> Signup
                          </a>
                      </li>
                  {% endif %}
              </ul>
          </div>
        </div>
      </nav>
      <div class="container my-4">
        <div class="max-grid-width">
          <div class="d-flex justify-content-between">
            <div class="flex-grow-1 me-3">
              <form class="d-flex" action="{% url 'product:search' %}" method="get">
                <label class="visually-hidden" for="search">Search</label>
                <input class="form-control me-2" type="search" id="search" name="q" placeholder="Search for products...">
                <button class="btn btn-outline-success" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </form>
            </div>
            <div class="d-flex align-items-center">
              <a href="{% url 'cart:shopping-cart-show' %}" class="btn btn-primary position-relative">
                <i class="fas fa-shopping-cart me-1"></i>  (${{ request.user.shoppingcart.get_total }})
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ request.user.shoppingcart.total_items }}
                    <span class="visually-hidden">Items</span>
                </span>
              </a>
              <span class="ms-3 mobile">
                {% if user.is_authenticated %}
                  <span>Welcome, <a href="{% url 'profile' %}">{{ user.first_name }}</a>!</span>
                  {% if user.userprofile.profile_picture %}
                    <span class="avatar">
                      <a href="{% url 'profile' %}"><img src="{{ user.userprofile.profile_picture.url }}" alt="Avatar" class="rounded-circle"></a>
                    </span>
                  {% endif %}
                {% else %}
                  <span>Hello, please <a href="{% url 'login' %}">login</a></span>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="bg-light text-center text-lg-start mt-5">
      <div class="container p-4">
        <div class="row">
          <!-- Company Information -->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo-small.png'%}" alt="Logo"></a>
            <p>
              Your online store for electronic products with fast delivery and excellent service.
            </p>
          </div>
    
          <!-- Quick Links -->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Quick Links</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'product:product-list' %}">Products</a>
              </li>
              <li>
                <a href="{% url 'home' %}">Contact</a>
              </li>
              <li>
                <a href="{% url 'home' %}">About Us</a>
              </li>
            </ul>
          </div>
    
          <!-- Customer Service -->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Customer Service</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="{% url 'home' %}">Terms of Service</a>
              </li>
              <li>
                <a href="{% url 'home' %}">Privacy Policy</a>
              </li>
              <li>
                <a href="{% url 'home' %}">FAQ</a>
              </li>
              <li>
                <a href="{% url 'home' %}">Returns</a>
              </li>
            </ul>
          </div>
    
          <!-- Contact -->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact Us</h5>
            <ul class="list-unstyled">
              <li>
                <p><i class="fas fa-map-marker-alt me-2"></i>Luxemburger Str. 10, 13353 Berlin</p>
              </li>
              <li>
                <p><i class="fas fa-phone me-2"></i>030 45040</p>
              </li>
              <li>
                <p><i class="fas fa-envelope me-2"></i>info@techmarkt.com</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
      <div class="text-center p-3 bg-dark text-light">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo-footer.png'%}" alt="Logo"></a>
      </div>
    </footer>

  </div>
</body>
</html>
