{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/page.css' %}">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Startpage</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Profil</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'product:product-list' %}">All</a></li>
        <li><a href="{% url 'cart:cart' %}">Einkaufswagen</a></li>
        {% if user.is_staff %}
          <li><a href="{% url 'customerservice:dashboard' %}">Service</a></li>
        {% endif %}
      {% else %}
        <li><a href="{% url 'product:product-list' %}">All products</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Signup</a></li>
        <li><a href="{% url 'cart:cart' %}">Einkaufswagen</a></li>
      {% endif %}
    </ul>
  </nav>
  <form action="{% url 'product:search' %}" method="get">
      <label>
          <input type="text" name="q" placeholder="Search for products...">
      </label>
      <button type="submit">Search</button>
  </form>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
